
body{

    background-image: url("../img/Bgwallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 40px;
    padding-left: 40px;

}
div {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
}

.a{
    padding-top: 25px;
    padding-bottom: 50px;
    padding-right: 25px;
    padding-left: 25px;

    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.b{
    padding-top: 25px;
    padding-bottom: 50px;
    padding-right: 25px;
    padding-left: 25px;

    font-size: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.c{
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;

    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.d{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: auto;
    padding-left: 350px;
    text-emphasis: center;

    font-size: 300px;
    color:#5DD5F7
    

}

img {

    width: 500x;
    height: 450px;
    
    padding-top: 25px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;

    transition: 1s all ease;
    transform: scale(1.0);
    border-radius: 25px;
    border: 2px solid #5DD5F7;
   
}
.round {

   
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    box-shadow: 5px 5px #5DD5F7;
}

hr{ 
    border: 7px solid rgb(5, 5, 5);
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 #5DD5F7, 0 6px 20px 0 rgba(0, 15, 15, 0.925);
}

.card-img-to{

    background: #fcf8f8;
    padding: 25px;

    transition: transform .10s;
    width: 380px;
    height: 325px;
    margin: 25px;
}

.card-img-to:hover{
    ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

