
body{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #5DD5F7;

}
div {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-right: 50px;
    padding-left: 50px;

}

img {
    width: 550px;
    height: 600px;
    border: 70px solid rgb(66, 68, 68);
}

.round {

   
    border-radius: 12px;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(5, 158, 247, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.925);

}

hr{ 
    border: 7px solid rgb(5, 5, 5);
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(3, 3, 3, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.925);
}

